div {
    height: 50px;
    width: 50px;
    border: 20px solid peachpuff;
    border-top:20px solid green ;
    border-radius: 50%;
    animation: colorAnimate 0.1s  0s infinite normal;
}

@keyframes colorAnimate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}