* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: white;
}

.navbar {
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.location-icon {
    display: flex;
}

.location-icon p {
    font-size: 0.9rem;
    margin-left: 5px;
}

.del {
    font-size: 0.8rem;
    margin-left: 16px;
    color: #cecccc;
}

.select {
    background-color: grey;
    height: 40px;
    width: 40px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search {
    width: 550px;
    height: 40px;
    border: none;
}

.glass {
    background-color: orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    border: none;
}

button {
    height: 45px;
    width: 40px;
}

.boo {
    display: flex;
    justify-content: space-evenly;
}

.bii {
    display: flex;
    align-items: center;
}

.hi {
    display: flex;
}

.a {
    display: flex;
}

.a i {
    font-size: 35px;
}

.a p {
    font-weight: bold;
}

.bii p {
    font-weight: bold;
}

.hi p{
    font-weight: bold;
    margin-right: 3px;
}

.panel {
    height: 40px;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.panel a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.hee {
    height: 400px;
    width: 100%;
    background-image: url(hero_image.jpg);
    background-size: cover;
}

.haa {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: grey;
}

.box {
    background-color: white;
    height: 430px;
    width: 23%;
    margin-top: 20px;
}

.image1 {
    background-image: url(box1_image.jpg);
    background-size: cover;
    height: 350px;
}

.box a {
    text-decoration: none;
    color: aqua;
}

.image1 {
    background-image: url(box1_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image2 {
    background-image: url(box2_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image3 {
    background-image: url(box3_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image4 {
    background-image: url(box4_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image5 {
    background-image: url(box5_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image6 {
    background-image: url(box6_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image7 {
    background-image: url(box7_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}
.image8 {
    background-image: url(box8_image.jpg);
    background-size: cover;
    height: 350px;
    margin-top:10px ;
    margin-bottom:10px ;
}

.boxcontent {
    margin-left:10px ;
    margin-right:10px; 
}

.hu {
    background-color: #37475a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endcredits {
    height: 250px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.endcredits p {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.showoff {
    background-color: #222f3d;
    border-top: 2px solid white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright {
    height: 75px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.copyright a {
    color: white;
    text-decoration: none;
}

ul a {
    color: white;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

.copyright a:hover {
    text-decoration: underline;
}

