* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #102E4A;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleCont {
    background-color: #55C1FF;
    height: 10vh;
    width: 70vh;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#title {
    font-size: 6vh;
}

.choices {
    width: 120vh;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choice {
    border: none;
    height: 28.84vh;
    width: 30.75vh;
    border-radius: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choice:hover {
    background-color: #f44336;
    opacity: 0.5;
    cursor: pointer;
}

img {
    height: 27.47vh;
    border-radius: 25%;
}

.scorecard {
    width: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    font-size: 4vmin;
}

.msgCont {
    margin-top: 4.6rem;
}

#msg {
    font-size: 2rem;
    background-color: #55C1FF;
    display: inline;
    padding: 1rem;
    border-radius: 50px;
}